TTS_ENGINE_BACKEND=vieneu
TTS_API_HOST=127.0.0.1
TTS_API_PORT=8000
TTS_REQUEST_TIMEOUT_SECONDS=180
TTS_VIENEU_BACKBONE_REPO=D:\models\VieNeu-TTS\vieneu-tts-v2-turbo.gguf
TTS_VIENEU_BACKBONE_FILENAME=D:\models\VieNeu-TTS\vieneu-tts-v2-turbo.gguf
TTS_VIENEU_DECODER_REPO=D:\models\VieNeu-TTS\vieneu_decoder.onnx
TTS_VIENEU_DECODER_FILENAME=D:\models\VieNeu-TTS\vieneu_decoder.onnx
TTS_VIENEU_ENCODER_REPO=D:\models\VieNeu-TTS\vieneu_encoder.onnx
TTS_VIENEU_ENCODER_FILENAME=D:\models\VieNeu-TTS\vieneu_encoder.onnx
